<!DOCTYPE html>
<html lang="en">
<!-- <html> -->

<head>
    <!-- <meta http-equiv="refresh" content="5; url='http://localhost/skripsi_coba1/view.php?a=0'" /> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Student Verification</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style_ori.css" type="text/css">
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_ori.css') }}">
</head>

<body>
    <section id="how-it-works" class="parallax">
        <span class="angle2"></span>
        <span class="angle"></span>
        <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding" data-wow-delay=".5s">
            <h2>Student <span>Verification</span></h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInLeft animated" data-wow-delay=".5s">
                    <img src="{{ url_for('video_feed') }}">
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 wow fadeInRight animated" data-wow-delay=".5s">
                    <h1><span>Euclidean Distance :</span> {{sim2}}</h2>
                        <!-- <br>
                        <h2>{{sim}}</h2> -->
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="header-content row">
                        <section class="c-container">
                            <div class="o-circle c-container__circle o-circle__sign--failure">
                                <div class="o-circle__sign"></div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </section>







    <!-- <h1 style="margin: auto;">Student Verification</h1>
    <div style="margin: auto;">
        <img src="{{ url_for('video_feed') }}">
    </div>
    <h1>{{sim}}</h1>
    <br>
    <h1>Euclidean Distance : {{sim2}}</h1> -->
</body>

</html>